common --experimental_repo_remote_exec

build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14

build --define=grpc_no_ares=true

# OpenVINO.

build:openvino --define=runtime=openvino

# TensorFlow (CPU).

build:tensorflow-cpu --define=runtime=tensorflow

# GPU.

build:cuda --action_env=TF_NEED_CUDA=1
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --@local_config_cuda//:enable_cuda
build:cuda --action_env=TF_CUDA_COMPUTE_CAPABILITIES=7.0

# TensorFlow (GPU).

build:tensorflow-gpu --define=runtime=tensorflow
build:tensorflow-gpu --config=cuda
build:tensorflow-gpu --copt=-DNDEBUG # https://github.com/tensorflow/tensorflow/issues/22766

# TensorFlow Lite (CPU).

build:tensorflow-lite-cpu --define=runtime=tensorflow-lite

build:arm --crosstool_top=@local_config_embedded_arm//:toolchain
build:arm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:aarch64 --config=arm
build:aarch64 --cpu=aarch64

# TensorRT.

build:tensorrt --define=runtime=tensorrt
build:tensorrt --config=cuda
build:tensorrt --copt=-DGOOGLE_CUDA

#Tensorflow Tensorrt (GPU).

build:tensorflow-tensorrt --define=runtime=tensorflow-tensorrt
build:tensorflow-tensorrt --define=tensorflow_enable_mlir_generated_gpu_kernels=1
build:tensorflow-tensorrt --config=cuda
build:tensorflow-tensorrt --action_env=TF_NEED_TENSORRT=1

# ML runtime.

build:ml --define=runtime=ml

# TVM runtime.

build:tvm --define=runtime=tvm

# Paddle runtime

build:paddle --define=runtime=paddle
build:paddle --define=paddle_link_static=true

# Libtorch runtime

build:libtorch --define=runtime=libtorch
build:libtorch --define=haveCuda=noresourceCuda

# Libtorch-GPU runtime

build:libtorch-gpu --define=runtime=libtorch
build:libtorch-gpu --define=haveCuda=resourceCuda
build:libtorch-gpu --copt=-DMEMORY_CUDA
build:libtorch-gpu --config=cuda
