build --cxxopt=-std=c++14

build --define=grpc_no_ares=true
build --action_env=PYTHON_BIN_PATH=python3

# OpenVINO.

build:openvino --define=runtime=openvino

# TensorFlow (CPU).

build:tensorflow-cpu --define=runtime=tensorflow

# GPU.

build:using_cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:using_cuda --define=using_cuda=true
build:using_cuda --define=using_cuda_nvcc=true
build:using_cuda --action_env=TF_NEED_CUDA=1
build:using_cuda --action_env=TF_CUDA_COMPUTE_CAPABILITIES=7.0

# TensorFlow (GPU).

build:tensorflow-gpu --define=runtime=tensorflow
build:tensorflow-gpu --config=using_cuda
build:tensorflow-gpu --copt=-DNDEBUG # https://github.com/tensorflow/tensorflow/issues/22766

# TensorFlow Lite (CPU).

build:tensorflow-lite-cpu --define=runtime=tensorflow-lite

# TensorRT.

build:tensorrt --define=runtime=tensorrt
build:tensorrt --config=using_cuda

# FPGA, just for FPGA demo and not support serving service.

build:fpga --define=runtime=fpga
build:fpga --cpu=aarch64
build:fpga --crosstool_top=//third_party/aarch64_compiler:toolchain
build:fpga --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
