[MASTER]
extension-pkg-whitelist = tensorrt
ignore = generated
jobs = 0

[MESSAGES CONTROL]
disable = missing-class-docstring,
          missing-function-docstring,
          missing-module-docstring

[TYPECHECK]
contextmanager-decorators = contextlib.contextmanager,
                            tensorflow.python.util.tf_contextlib.contextmanager
generated-members=numpy.*, torch.*

[FORMAT]
max-line-length = 120
